.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.radio-option {
  margin: 10px 0;
}

.radio-option input[type="radio"] {
  margin-right: 10px;
}

.radio-option label {
  font-size: 16px;
  color: #333;
}
